<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Champkinz/day-planner/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>RVLYllEFHVLk2Q4XscMQ1U3B+ti5/y3HH+POdgvTiA0=</string>
</dict>
</plist>
